{% extends "base.html" %}


{% block extra_head %}
    <meta property="og:title" content="Maciej Konieczny (narf)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://narf.pl/">
    <meta property="og:image" content="http://narf.pl/assets/index/self.jpg">
    <meta property="og:description" content="I'm a software creator focused on iOS and Swift, interested in game development.">
{% endblock %}


{% block body %}
    <div id="main-wrapper">

        <header class="centered">
            <h1>Maciej Konieczny</h1>

            <p class="centered">
                website: <a href="http://narf.pl/">narf.pl</a>
                &middot;
                email: <a href="mailto:hello@narf.pl">hello@narf.pl</a>
                <br>
                location: Warsaw, Poland
            </p>

            <p class="narrow">
                <img src="/assets/cv/circle.jpg">
            </p>
        </header>

        {{ content|typo }}
    </div>
{% endblock %}
