{% extends "base.html" %}


{% block extra_head %}
    <link rel="stylesheet" href="asset:index/css/index.css"/>
    <link rel="stylesheet" href="asset:index/css/index-entries.css"/>

    {% with
        title="Maciej Konieczny aka narf",
        description="Cześć. I am Maciej Konieczny aka narf. I create software, make procedural graphics, and produce music in Warsaw, Poland.",
        image_url="asset:recursive-poster/recursive-poster.jpg"
    %}
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://narf.pl/"/>
        <meta property="og:image" content="{{ image_url }}"/>
        <meta property="og:description" content="{{ description }}"/>

        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@narfdotpl"/>
        <meta name="twitter:creator" content="@narfdotpl"/>
        <meta name="twitter:title" content="{{ title }}"/>
        <meta name="twitter:description" content="{{ description }}"/>
        <meta name="twitter:image" content="{{ image_url }}"/>
    {% endwith %}
{% endblock %}


{% block body %}
    {% if debug %}<!-- debug={{ debug }} -->{% endif %}
    <div id="main-wrapper" class="centered legible">
        <header>
            <h1 align="left">
                Cześć. I am <b>Maciej Konieczny</b> aka~<b>narf</b>.
                I~create~software,
                make procedural graphics,
                and~produce <a href="/music">music</a>
                in Warsaw,~Poland.<br/>
                <br/>
                This is my <a href="/posts">blog</a>.
                <span id="web2-trigger" class="hidden">I am also <a href="#">elsewhere</a> on the web.</span>
                <span id="web2">
                    I also have a~<a href="http://links.narf.pl/">link blog</a>
                    and I~am on~<a href="https://vis.social/@narf">Mastodon</a>,
                    <a href="https://www.instagram.com/narfdotpl/">Instagram</a>,
                    <a href="http://twitter.com/narfdotpl">Twitter</a>,
                    <a href="https://narfdotpl.bandcamp.com/">Bandcamp</a>,
                    <a href="http://www.last.fm/user/narfdotpl">Last.fm</a>, and
                    <a href="https://github.com/narfdotpl">GitHub</a>~too.<br/><br/>
                </span>
                If~you want to get in touch, <a href="mailto:hello@narf.pl">email</a>~is~best.
            </h1>
        </header>

        {% for entry in entries %}
            <article>
                <a href="{{ entry.url }}">
                    <figure>
                        <img src="{{ entry.image }}">

                        <div class="overlay">
                            <div class="content">
                                <h1 class="balance-text">{{ entry.title }}</h1>
                                <p class="subtitle">{{ entry.subtitle }}</p>
                            </div>
                        </div>
                    </figure>
                </a>
            </article>
        {% endfor %}

        <footer>
            <p class="icons">
                <a title="Mastodon" href="https://vis.social/@narf"><i class="fab fa-lg fa-mastodon"></i></a>
                <a title="Instagram" href="https://www.instagram.com/narfdotpl/"><i class="fab fa-lg fa-instagram"></i></a>
                <a title="Twitter" href="http://twitter.com/narfdotpl"><i class="fab fa-lg fa-twitter"></i></a>
                <a title="Bandcamp" href="https://narfdotpl.bandcamp.com/"><i class="fab fa-lg fa-bandcamp"></i></a>
                <a title="Last.fm" href="http://www.last.fm/user/narfdotpl"><i class="fab fa-lg fa-lastfm"></i></a>
                <a title="GitHub" href="https://github.com/narfdotpl"><i class="fab fa-lg fa-github"></i></a>
                <a title="RSS feed" href="/feed"><i class="fas fa-rss"></i></a>
            </p>
        </footer>
    </div>
{% endblock %}
