{% extends "base.html" %}


{% block extra_head %}
    <style>
        .row {
            overflow: hidden; }

        .row h2 {
            margin-top: 0; }

        .col {
            float: left;
            width: 120px; }

        .col-left {
            width: 180px; }

        .col-mid {
            margin-left: 30px;
            margin-right: 50px; }

        @media (max-width: 400px) {
            .col {
                float: none;
                width: 100%;
                margin-left: 0; }}
    </style>

    <meta property="og:title" content="Maciej Konieczny (narf)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://narf.pl/">
    <meta property="og:image" content="http://narf.pl/assets/index/self.jpg">
    <meta property="og:description" content="I'm a programmer from Milanówek, Poland. Some know me as narf.">
{% endblock %}


{% block body %}
    <div id="main-wrapper" class="narrow legible">

        <header class="centered">
            <h1>Maciej Konieczny</h1>
        </header>

        <p>
            {{ "
                Hello.
                My name is Maciej Konieczny.
                Some know me as narf.
                I'm a programmer from Milanówek, Poland.
                You can contact me via email at <a href='mailto:hello@narf.pl'>hello<wbr>@<wbr>narf.pl</a>.
                Word wrapping is hard.
            "|typo }}
        </p>

        <div class="row">
            <div class="col col-left">
                <h2>projects</h2>
                <ul>
                    <li><a href="https://github.com/narfdotpl/selfdot.vim">selfdot.vim</a></li>
                    <li><a href="http://lab.narf.pl/naif.css/">naif.css</a></li>
                    <li class="hidden"><a href="https://github.com/narfdotpl/debug">import debug</a></li>
                    <li class="hidden"><a href="https://github.com/narfdotpl/hottie">hottie</a></li>
                    <li class="hidden"><a href="http://lab.narf.pl/jquery-typing/">jQuery-typing</a></li>
                    <li class="hidden"><a href="http://lab.narf.pl/canvas-pong/">&lt;canvas&gt; pong</a></li>
                    <li class="hidden"><a href="https://github.com/narfdotpl?tab=repositories">etc.</a></li>
                    <li class="ellipsis"><a href="#turn-javascript-on-yo">&hellip;</a></li>
                </ul>
            </div>

            <div class="col col-mid">
                <h2>profiles</h2>
                <ul>
                    <li class="hidden"><a href="https://www.facebook.com/narfdotpl">Facebook</a></li>
                    <li class="hidden"><a href="http://www.filmweb.pl/user/narfdotpl">Filmweb</a></li>
                    <li class="hidden"><a href="http://www.flickr.com/photos/narfdotpl">Flickr</a></li>
                    <li><a href="https://github.com/narfdotpl">GitHub</a></li>
                    <li class="hidden"><a href="http://lanyrd.com/profile/narfdotpl">Lanyrd</a></li>
                    <li class="hidden"><a href="http://www.last.fm/user/narfdotpl">Last.fm</a></li>
                    <li class="hidden"><a href="http://pl.linkedin.com/in/narfdotpl">LinkedIn</a></li>
                    <li><a href="http://twitter.com/narfdotpl">Twitter</a></li>
                    <li class="ellipsis"><a href="#turn-javascript-on-yo">&hellip;</a></li>
                </ul>
            </div>

            <div class="col">
                <h2>collections</h2>
                <ul>
                    <li><a href="/posts">posts</a></li>
                    <li><a href="http://links.narf.pl">links</a></li>
                    <li class="hidden"><a href="https://github.com/narfdotpl/mixtapes">mixtapes</a></li>
                    <li class="hidden"><a href="http://lab.narf.pl/leet/">leet</a></li>
                    <li class="ellipsis"><a href="#turn-javascript-on-yo">&hellip;</a></li>
                </ul>
            </div>
        </div>

        <br>

        <footer>
            <p class="centered">
            2002-{{ year }} &middot; <a href="/feed">feed</a>
            </p>
        </footer>

    </div>

    <script src="/assets/index/jquery.js"></script>
    <script src="/assets/index/script.js"></script>
{% endblock %}
