{% extends "base.html" %}


{% block title %}Music{% endblock %}


{% block extra_head %}
    <link rel="stylesheet" href="asset:index/css/music.css"/>
    <link rel="stylesheet" href="asset:index/css/index-entries.css"/>

    <meta property="og:url" content="https://narf.pl/music"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Music by Maciej Konieczny aka narf"/>
    <meta property="og:description" content="I publish music as standalone releases and I create soundtracks for my animations. Check out &quot;{{ latest_entry.title }}&quot;, my latest {{ latest_entry.subtitle }}."/>
    <meta property="og:image" content="{{ latest_entry.image }}"/>
{% endblock %}


{% block body %}
    <div id="main-wrapper" class="legible">
        <header class="narrow">
            <h1 class="centered">Music</h1>
        </header>

        <section class="narrow">
            <p>
                I publish music as standalone releases and I&nbsp;create soundtracks for my animations and experiments.
            </p>
            <p>
                To get a sense of what I make, listen to my debut EP <a href="escapism"><i>Escapism</i></a>.
                I think it captures my sensibilities well and includes many things that I’m interested in:
                distortion, industrial, cinematic, procedural, synth, glitch, electronic, metal, piano, cello, noise…
            </p>
            <p>
                — <a href="/">Maciej Konieczny</a>
                aka <a href="/">narf</a>
            </p>
        </section>

        {% for section in sections %}
            <section>
                <h2 class="narrow">{{ section.title }}</h2>

                {% for entry in section.entries %}
                    <article>
                        <a href="{{ entry.url }}">
                            <figure>
                                <img src="{{ entry.image }}">

                                <div class="overlay">
                                    <div class="centered content">
                                        <h1 class="balance-text">{{ entry.title }}</h1>
                                        <p class="subtitle">{{ entry.subtitle }}</p>
                                    </div>
                                </div>
                            </figure>
                        </a>
                    </article>
                {% endfor %}
            </section>
        {% endfor %}

        <section class="narrow">
            <h2>Other music and sound posts</h2>

            <ul>
                {% for post in other_posts %}
                    <li><a class="balance-text" href="{{ post.path }}">{{ post.title|typo }}</a></li>
                {% endfor %}
            </ul>
        </section>

        {% include "footer-icons.html" %}
        <br class="hidden-elsewhere"/>
    </div>
{% endblock %}
