{% extends "base.html" %}


{% block title %}{{ title|typo }}{% endblock %}


{% block body %}
    {# https://www.readability.com/developers/guidelines #}
    <article id="main-wrapper" class="hentry">

        <header class="centered narrow legible">
            <h1 class="entry-title">{{ title|typo }}</h1>

            <address class="inlined byline author vcard">
                <a href="/" class="fn">Maciej Konieczny</a>
            </address>

            &middot;

            <time pubdate datetime="{{ date }}" class="published">{{ date }}</time>
        </header>

        <br>

        <div class="entry-content">
            {{ content|typo }}
        </div>
    </article>
{% endblock %}
