{% extends "base.html" %}


{% block title %}Posts{% endblock %}


{% block body %}
    <section id="main-wrapper" class="narrow legible">
        {% include "navigation.html" %}

        <header class="centered">
            <h1>Posts</h1>
        </header>

        <section>
            <p>
                I write about various things of interest.
                All posts on my site are listed here.

                <a href="/music">Music</a>
                posts are also on their dedicated page.

                In addition to that, I&nbsp;have a <a href="https://links.narf.pl">link blog</a>,
                which is a separate site.
            </p>
            <p>
                — <a href="/">Maciej Konieczny</a>
                aka <a href="/">narf</a>

                <br/>&nbsp;
            </p>
        </section>

        {% for title, posts in sections %}
            <section>
                <h2>{{ title }}</h2>

                {% if posts %}
                    <ul>
                        {% for post in posts %}
                            <li>{% if post.is_short %}— {% endif %}<a class="balance-text" href="{{ post.path }}">{{ post.title|typo }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>—</p>
                {% endif %}
            </section>
        {% endfor %}

        {% include "footer-icons.html" %}
        <br class="hidden-elsewhere"/>
    </section>
{% endblock %}
