{% extends "base.html" %}


{% block title %}posts{% endblock %}


{% block body %}
    <section id="main-wrapper" class="narrow legible">

        <header class="centered">
            <h1>posts</h1>

            <address class="inlined author">
                written by <a href="/" class="fn">Maciej Konieczny</a>
            </address>
        </header>

        {% for year, posts in posts_by_year %}
            <section class="narrow">
                <h3 class="centered">{{ year }}</h3>

                <ul class="posts">
                    {% for post in posts %}
                        <li><a class="balance-text" href="/posts/{{ post.slug }}">{{ post.title|typo }}</a></li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}

        <hr class="narrow">

        <p class="centered">
            <i>
                Subscribe to the <a href="/feed">RSS feed</a><br>
                Follow me on <a href="http://twitter.com/narfdotpl">Twitter</a>
            </i>
        </p>

    </section>
{% endblock %}
