{% extends "base.html" %}


{% block title %}posts{% endblock %}


{% block body %}
    <section id="main-wrapper" class="narrow legible">

        <header class="centered">
            <h1>posts</h1>

            <address class="inlined author">
                written by <a href="/" class="fn">Maciej Konieczny</a><br/>
                (I also have a <a href="http://links.narf.pl">link blog</a>)
            </address>
        </header>

        <section class="narrow">
            <h3 class="centered">Selected</h3>

            <ul class="posts">
                {% for post in selected_posts %}
                    <li><a class="balance-text" href="{{ post.path }}">{{ post.title|typo }}</a></li>
                {% endfor %}
            </ul>
        </section>

        {% for year, posts in posts_by_year %}
            <section class="narrow">
                <h3 class="centered">{{ year }}</h3>

                {% if posts %}
                    <ul class="posts">
                        {% for post in posts %}
                            <li><a class="balance-text" href="{{ post.path }}">{{ post.title|typo }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="centered">—</p>
                {% endif %}
            </section>
        {% endfor %}

        {% include "footer-icons.html" %}
        <br class="hidden-elsewhere"/>
    </section>
{% endblock %}
