{% extends "base.html" %}


{% block title %}{{ title|typo }}{% endblock %}


{% block body %}
    <article id="main-wrapper">

        <header class="centered narrow legible">
            <h1>{{ title|typo }}</h1>

            <address class="inlined">
                <a href="/">Maciej Konieczny</a>
            </address>

            &middot;

            <time pubdate datetime="{{ date }}">{{ date }}</time>
        </header>

        <br>

        {{ content|typo }}
    </article>
{% endblock %}
