{% extends "base.html" %}


{% block title %}{{ title|typo }}{% endblock %}


{% block extra_head %}
    <meta property="og:url" content="{{ url }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ title }}"/>
    {% if description %}
        <meta property="og:description" content="{{ description }}"/>
    {% endif %}
    <meta property="article:published_time" content="{{ date }}"/>
    {% if social_image_url %}
        <meta property="og:image" content="{{ social_image_url }}"/>
    {% endif %}

    <link rel="stylesheet" href="asset:index/highlight/styles/github.css"/>
    <link rel="stylesheet" href="asset:index/gallery/magnific-popup.css"/>
    <link rel="stylesheet" href="asset:index/css/post.css"/>

    <style>
        {% if slug == "spiral" %}
            figure {
                margin-bottom: 1px;
            }
        {% endif %}
    </style>
{% endblock %}


{% block body %}
    {# https://www.readability.com/developers/guidelines #}
    <article id="main-wrapper" class="hentry">
        <header class="centered narrow legible">
            {% if promoted_post %}
                {% with p = promoted_post %}
                    <hr/>
                    <p>
                        <i>
                            Psst! Check out <a href="{{ p.path }}">{{ p.title|typo }}</a>,
                            {{ p.promo_text|typo }}
                        </i>
                    </p>
                    <hr/>
                {% endwith %}
            {% endif %}

            <h1 class="entry-title balance-text">{{ title|typo }}</h1>

            <address class="inlined byline author vcard">
                <a href="/" class="fn">Maciej Konieczny</a>
                /
                <a href="/" class="fn">narf</a>
            </address>

            <span class="middot">&middot;</span>
            <br class="br"/>

            <time pubdate datetime="{{ date }}" class="published">{{ date }}</time>
        </header>

        <br/>

        <div class="entry-content">
            {{ content|typo }}
        </div>

        {% include "footer-icons.html" %}

        {% if is_music_release %}
            <p>
                <a href="/music">More music&hellip;</a>
            </p>
        {% elif collections %}
            <p id="collection-trigger" style="display: none">
                <a href="#">More&hellip;</a>
            </p>

            <div id="collection">
                {% for collection in collections %}
                    <h2>{{ collection.name }}</h2>

                    <ul>
                        {% for post in collection.posts|reverse %}
                            <li {% if post.path == path %}style="opacity: 0.5"{% endif %}>
                                <a href="{{ post.path }}">{{ post.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        {% else %}
            <br class="hidden-elsewhere"/>
        {% endif %}
    </article>
{% endblock %}


{% block extra_js %}
    {# draft alert #}
    {% if is_draft %}
        <script>
            (function () {
                var endsWith = function (string, suffix) {
                    return string.indexOf(suffix, string.length - suffix.length) !== -1
                }

                $(document).on('click', 'a', function (event) {
                    if (endsWith(this.href, '/TODO')) {
                        alert('TODO: ' + this.text)
                        return false
                    }
                })
            })()
        </script>
    {% endif %}
{% endblock %}
