{% extends "base.html" %}


{% block title %}Music{% endblock %}


{% block body %}
    <div id="main-wrapper" class="narrow legible">
        {% include "navigation.html" %}

        <header class="centered">
            <h1>Profiles</h1>
        </header>

        <section>
            <ul>
                {% for profile in profiles.visible %}
                    <li>{{ profile.tag }}</li>
                {% endfor %}
            </ul>
        </section>

        {% include "footer-icons.html" %}
        <br class="hidden-elsewhere"/>
    </div>
{% endblock %}
